// Place all the styles related to the api/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.product-list-main {
  max-width: 50vw;
  margin: 0 auto;
}

.product-list-main li {
  list-style: none;
}

.product-list-container {
  border: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-width: 500px;
}


.product-header-image {
  width: 80px;
  height: 80px;
}

.product-list-link {
  display: flex;
  justify-items: flex-start;
  flex-direction: row;
  text-decoration: none;
  width: 80%;
  color: $text-darkgray;

}

.product-list-link:hover {
  text-decoration: none;
}

.product-list-link div {
  padding: 10px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}




.product-detail-wrapper {
  width: 1000px;
  padding: 20px;
  // margin: 20px;
  border: lightgray 1px solid;
}

.product-detail-header-content {
  display: flex;
  justify-content: flex-start;
  min-height: 100px;
  padding: 10px 0;
}

.product-detail-header-container {
  display: inline-block;
  padding-right: 10px;
  position: relative;
  height: 100%;
}

.product-detail-main {
  display: flex;
  flex-direction: row;
}

.product-detail-main-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.product-detail-main-right {
  width: 40%;
  margin-left: 20px;
}

.product-detail-img {
  width: 100%;
}

.product-link {
  color: rgb(41, 35, 35);
  width: 100%
}

.product-link > div {
  border: 1px lightgray solid ;
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.product-link > div i {
  font-size: 36px;
  padding: 10px;
}

.product-link > div > div {
  padding: 0 20px
}

.product-link, .product-link:hover {
  text-decoration: none;
}





input.product-field {
	margin: 10px;
	padding: 2px;
}

label.product-field {
	width: 125px;
	display: inline-block;
}

.new-product-button {
  margin: 5px;
}

input.new-product-button {
  width: 160px;
  margin-top: 10px;
}

button.new-product-button {
  width: 160px;
}

.product-form-container {
  h1 {
    padding-bottom: 30px;
    text-align: center;
  }
}


.product-form-wrapper {
  max-width: 30vw;
  max-height: 90vh;
  overflow: hidden;

}

.product-form {
  padding: 10px;
  display:flex;
  flex-direction: column;
  align-content: center;
  max-height: inherit;
  max-width: inherit;
}

.product-preview-img {
  width: 80px;
  height: 80px;
}

.product-edit-container {
  margin: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.product-edit {
  width: 50px;
  height: 25px;
  display: inline-block
}

.product-index-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  > * {
    padding-bottom: 10px;
  }
}


#product-create-button {
  color: $orange-button;
  font-size: 36px;
  padding: 0 20px; 
  :hover{
    transition: margin-right 2s .5s;
  }
}
