// Place all the styles related to the api/ProductVotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.product-vote-button {
  width: 4.5em;
  height: 5em;
  &:focus{
    outline: none;
  }
}


.product-upvote-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding-left: 70px;
  padding-right:20px;
}

.product-upvote-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  justify-items: center;
  label {
    padding: 0 30px;
    font-size: 20px;
  }
}

.product-upvote {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  border-radius: 0.25em;
  &:hover {
    display: inline-block;
    position: relative
  }
//   margin: 0 0.3em 0.3em 0;
  i {
    font-size: 1.2em;
  }
}

.product-upvote-isupvoted {
  border: 1px $orange-accent solid;
  i {
    color: $orange-accent
  }
  &:hover {
    border: 1px $gray solid;
    color: $dark-gray;
    i {
      color: $dark-gray;
    }
    > p {
      text-decoration: line-through;
      transition: ease-out 0.25s;
    }
  }
}

.product-upvote-notupvoted {
  border: 1px $lightest-gray solid;
  &:hover {
    background-color: $orange-button-hover;
    .fa-caret-up {
      color: $orange-accent;
      // font-size: 1.5em;
      transform: translateY(-0.3em);
      transition: ease-in 0.25s;
    }
  }
}


// Product Upvote button in detail Modal
.product-upvote-detail {
  padding: 0; //overrides
  display: flex;
  align-items: center;
}