// Place all the styles related to the api/ProductDiscussions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.product-discussion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  ul: {
    width: 100%;
  }
  hr: {
    padding: 1px 0;
    border-bottom: 1px $light-gray solid;
  }
}


.discussion {
  width: 100%;
  padding: 10px;
}

.discussion-reply {
  // padding-left: 50px
}

.discussion-list {
  width: 100%;
  li {
    list-style: none;
  }
}

.profile-img-thumbnail {
  width: 30px;
  height: 30px;
  padding-right: 10px;
}

.discussion {
  width: 100%;
  display: inline-block
}

.discussion-user-detail {
  max-height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0;
  * {
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  };
  p {
    font-weight: bold;
  }
}

.discussion-content-wrapper {
  padding-left: 40px;
  > span,div {
    padding: 10px 0;
  }
}

.discussion-input-wrapper {
  width: 100%;
}

.discussion-form{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  input[type="text"]{
    width: 100%;
    margin: 5px;
  }
}

.discussion-component-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  > div {
    padding-right: 5em;
    font-size: 0.8em;
    color: $gray;
    font-weight: 500;
  }
}

.discussion-reply-component {
  display: none;
  padding: 0;
  input[type="text"]{
    width: 100%;
    margin: 5px;
  }
}


.discussion-reply-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}