// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user-profile-wrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.user-profile-wrapper h1 {
  padding: 20px;

}

.user-profile-img{
  padding: 15px;
  margin: 20px;
  min-width: 80px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.user-profile-img .fas {
  font-size: 80px
}


.user-profile-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  background: $form-gray;
  padding: 30px
}