// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.signup-form-content {
  padding: 15px;
  margin: 10px;
  margin: 0 auto;
  display: block;
  min-width: 100px;
  min-height: 250px;
}


