.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.308);
}

.modal-main {
  position:fixed;
  background: white;
  min-width: 25%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  display: inline-block;
  border-radius: 5px;
  // max-height: 90%;

}

.modal-header > span {
  float: right;
  padding: 10px;
}

.modal-header {
  height: 3vh;
  padding-bottom: 2vh;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}


 /* The Close Button in Modal*/
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 15px;
  margin: 15px;
  max-width: 1100px;
  max-height: 800px;
  overflow-y: auto;
}