.nav-bar{
  background: $white;
  border-bottom: 2px solid #e8e8e8;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
}

.nav-bar__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  max-width: 75vw;
  margin: 0 auto;
}

// .auth-ele a {
//   background-color: white;
//   padding: 0.5em 0.5em;
//   margin: 0 5px;
//   text-decoration: none;
//   color: black;
//   cursor: pointer;
//   display: inline-block;
//   border-radius: 5px;
// }

// .auth-ele a:hover {
//   background-color: $button-hover-dark;
//   box-shadow: 1px 1px 1px darkblue;
//   color: orange;
//   text-decoration: none;

// }

#nav-bar__signup {
  background-color: rgb(214, 134, 30);
  &:hover{
    color: white;
    text-decoration-color: $text-darkgray;
  }
}


.nav-bar__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar__logo {
  &:hover {
    color: rgb(197, 30, 1);
  }
  font-size: 34px;
  max-width: 40px;
  max-height: 40px;
  color: coral;
}