@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.product-search-wrapper{
    width: 30%;
    // position: absolute;
    // left: 50%;
    // right: 50%;
}

.product-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    // border: 1px solid $gray;
}


.search-form__input{
    outline: none;
    width: 100%;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    border-right: none;

}

.search-form__submit{
    width: 40px;
    height: 32px;
    border: 1px soid orange;
    color: #fff;
    background: orange;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
}