// Override default toast notification layout


.Toastify__toast{
  border-radius: 5px;
}


.Toastify__toast-body{
  padding: 5px;
}

.Toastify__toast-container {
  width: 450px;
}


.Toastify__toast-container--top-center{
  margin-left: -225px;
}


.toast-main {
  
}

.toast-body {
  text-align: center;
}